<div class="container">
  <div class="row">
    <div class="list-wrap col-12 bg-white my-3">
      <h4><%= @genre.genre_name %>のレシピ一覧</h4>
      <% @recipes.each do |recipe| %>
        <div class="list-box">
          <%= link_to recipe_path(recipe.id) do %>
            <%= image_tag recipe.get_image, size: "200x200" %>
            <div class="list-comment">
              <span class="list-title">■<%= recipe.name %></span><br>
          <% end %>
          <span class="list-body"><%= recipe.caption %></span>
          <h6>投稿者：<%= recipe.user.nickname %></h6>
          <div class="average-review-rating" data-score=<%= recipe.recipe_comments.average(:rate) %>></div>
          <script>
            $('.average-review-rating').empty();
            $('.average-review-rating').raty({
              size      : 36,
              readOnly: true,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: function() {
                return $(this).attr('data-score')
              }
              });
          </script>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>