<h1>レシピ詳細</h1>
 <%= image_tag @recipe.get_image, size: "200x200" %>
 <p>料理名：<%= @recipe.name %></p>
 <p>レシピ：<%= @recipe.caption %></p>
 <p>ユーザーネーム：<%= @recipe.user.nickname %></p>
 <p>投稿日：<%= @recipe.created_at.strftime('%Y/%m/%d') %></p>

 <% if @recipe.user == current_user %>
 <%= link_to "内容を編集する", edit_recipe_path(@recipe) %>
 <% end %>

 <div>
  <p>コメント件数：<%= @recipe.recipe_comments.count %></p>
  <% @recipe.recipe_comments.each do |recipe_comment| %>
    <%= recipe_comment.user.last_name %>
    <%= recipe_comment.created_at.strftime('%Y/%m/%d') %><%= recipe_comment.comment %>
    <% if recipe_comment.user == current_user %>
      <%= link_to "削除", recipe_recipe_comment_path(recipe_comment.recipe, recipe_comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<% if @recipe.favorited_by?(current_user) %>
    <p>
      <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
        ♥<%= @recipe.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to recipe_favorites_path(@recipe), method: :post do %>
        ♡<%= @recipe.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

<div>
  <%= form_with model: [@recipe, @recipe_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>