<h2>マイページ</h2>
<%= @user.nickname %>
<div>
<%= link_to "編集する", edit_user_path(@user) %>
</div>

<% @recipes.each do |recipe| %>
  <%= link_to recipe_path(recipe.id) do %>
    <%= image_tag recipe.get_image, size: "200x200" %>
  <% end %>
  <p>料理名：<%= recipe.name %></p>
  <p>説明：<%= recipe.caption %></p>
  <p>ニックネーム：<%= recipe.user.nickname %></p>
<% end %>

<% if @favorite_list.present? %>
  <% @favorite_list.each do |recipe| %>
    <%= link_to recipe_path(recipe.id) do %>
    <%= image_tag recipe.image, size: "200x200"%>
    <%= recipe.name %>
    <% end %>
    <% end %>
<% end %>