<div class="container my-5">
	<div class="row">
	  <div class="col-12">
  		<div class="offset-sm-1">
        <h2 class="px-3 pb-1">マイページ</h2>
      </div>
    </div>
  </div>

  <div class="col-12">
    <%= @user.nickname %>
      <div><%= link_to "編集する", edit_user_path(@user) %></div>
  </div>

    <div class="row">

      <% @recipes.each do |recipe| %>
       <div class="col-4 mb-3">
        <%= link_to recipe_path(recipe.id) do %>
          <%= image_tag recipe.get_image, size: "150x150" %>
          <h5><%= recipe.name %></h5>
        <% end %>
          <p><%= recipe.caption %></p>
      <% end %>
      </div>
      </div>



<div>
<% if @favorite_list.present? %>
  <% @favorite_list.each do |recipe| %>
    <%= link_to recipe_path(recipe.id) do %>
    <%= image_tag recipe.image, size: "200x200"%>
    <%= recipe.name %>
    <% end %>
    <% end %>
<% end %>

  </div>
</div>