<div class="container my-5">
  <div class="row">
    <h2 class="mt-3"><%= @user.nickname %>のマイキッチン</h2>
    <h5 class="col-12 mt-3">投稿したレシピ<%= @recipes.count%>件</h5>
    <div class="list-wrap col-7 bg-white">
      <% @recipes.each do |recipe| %>
        <div class="list-box">
          <%= link_to recipe_path(recipe.id) do %>
            <%= image_tag recipe.get_image, size: "200x200" %>
          <div class="list-comment">
            <span class="list-title">■<%= recipe.name %></span>
          <% end %>
            <span class="list-body"><%= recipe.caption %></span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-5">
      <div class="bg-white">
        <p>【登録情報】</p>
          氏名：<%= @user.last_name %> <%= @user.first_name %><br>
          ニックネーム：<%= @user.nickname %>
        <div class="my-3"><%= link_to "登録情報を編集する", edit_user_path(@user), class: "btn btn-sm btn-success" %></div>
      </div>
    </div>
  </div>

    <h5 class="col-12 my-5">お気に入りレシピ<%= @favorite_list.count%>件</h5>
    <div class="list-wrap col-8 bg-white">
      <% if @favorite_list.present? %>
        <% @favorite_list.each do |recipe| %>
          <div class="list-box">
            <%= link_to recipe_path(recipe.id) do %>
              <%= image_tag recipe.image, size: "200x200"%>
            <div class="list-comment">
            <span class="list-title">■<%= recipe.name %></span>
            <% end %>
          <span class="list-body"><%= recipe.caption %></span>
        </div>
      </div>
        <% end %>
      <% end %>
    </div>
</div>