<header class='top-page-header'>
  <div class="header-top-content">
    <%= link_to root_path, class:"header-title" do %>
      <div>MyDish</div>
    <% end %>
    <div class='nav'>
      <ul class='lists-right'>
        <li class="nav-item">
          <%= link_to "みんなのレシピ", recipes_path, class: 'nav-link active text-white' %>
        </li>
        <% if user_signed_in? %>
            <li class="nav-item">
            <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link active text-white' %>
            </li>
            <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link active text-white' %>
            </li>
          </ul>
        <% else %>
          <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: "login nav-link active text-white", id: "login" %></li>
          <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: "sign-up nav-link active text-white", id: "sign-up" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="header-center">
    <div class="header-center-top">みんなの料理レシピ検索なら</div>
    <div class="header-center-bottom">MyDish</div>
  </div>
</header>


